.flex {
  display: flex;
  align-items: center;
  gap: 10px;
}

h1 {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}


.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.view-toggle {
  display: flex;
  justify-content: center;
  margin: 16px 0;
}

.toggle-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: #f0f0f0;
  color: #333;
  border-radius: 8px;
  margin: 0 10px;
}

.toggle-button:hover {
  background-color: #e0e0e0;
}

.toggle-button.active {
  background-color: #007bff;
  color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
